name: Downgrade
on:
  # Disabled for PRs while using Catalyst fork that isn't in General registry
  # pull_request:
  #   branches:
  #     - main
  #   paths-ignore:
  #     - 'docs/**'
  push:
    branches:
      - main
    paths-ignore:
      - 'docs/**'
  schedule:
    - cron: '44 4 * * 4'
jobs:
  test:
    runs-on: ${{ matrix.os }}
    env:
      GROUP: ${{ matrix.group }}    
    strategy:
      fail-fast: false
      matrix:
        group:
          - Core
        version:
          - '1'
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    steps:
      - uses: actions/checkout@v5
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}
      - uses: julia-actions/julia-downgrade-compat@v2
        with:
          skip: Pkg,TOML,Statistics,Random,Catalyst
      - uses: julia-actions/cache@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Install Catalyst.jl fork
        run: |
          julia --project=. -e '
            using Pkg
            Pkg.add(url="https://github.com/ctessum/Catalyst.jl", rev="mtkv10-v2")
          '
      - uses: julia-actions/julia-buildpkg@v1
      - uses: julia-actions/julia-runtest@v1